@font-face {
    font-family: "samarkan";
    src:
        local("samarkan"),
        url("assets/SAMAN___.ttf") format("truetype"),
}

@font-face {
    font-family: "parisienne";
    src:
        local("parisienne"),
        url("assets/Parisienne-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "parchment";
    src:
        local("parchment"),
        url("assets/Parchment_MF.ttf") format("truetype"),
}

.samarkan {
    font-family: 'samarkan', sans-serif;
}

.parisienne {
    font-family: 'parisienne', sans-serif;
}

.parchment {
    font-family: 'parchment', sans-serif;
}

.bg-image {
    background-image: url("images/home.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    /* Adding blur background image */
    filter: blur(1px);
}

div.top {
    margin-top: 3rem;
}

.title.parchment {
    font-weight: normal;
    font-size: 3.5em;
}

.anchor i:hover {
    color: hsl(207deg, 61%, 53%) !important;
}

.dish-name {
    line-height: 0.9;
}