<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Restaurant Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <!-- Required Core Stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.core.min.css">

    <!-- Optional Theme Stylesheet -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.theme.min.css"> -->
</head>



<body>
    <section class="section hero is-white has-text-centered">
        <div class="container">
            <h2>
                <span class="is-1 title is-uppercase has-text-info-dark samarkan">Menu</span> 
                <span class="subtitle parchment is-1">- Home Restaurant by Ria & Antonin</span>
            </h2>
        </div>
    </section>

    <section class="section has-background-light main-section">
        <div class="container">

            <div class="columns is-multiline">
                <div class="column is-mobile is-full">
                    <h3 class="title is-2 is-uppercase has-text-info-dark parisienne">Main Course</h3>
                    <hr class="has-background-info">
                </div>

                <div class="glide">
                <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                {% for dish in dishes %}
                {% if dish.new_page %}
                <!-- <div class="column is-mobile is-full">
                    <hr class="has-background-info">
                </div> -->
                <div class="glide__slide">
                <div class="columns">
                {% endif %}

                {% if dish.new_column %}
                <div class="column">
                {% endif %}
           
                    <div class="block">
                        <p class="title parchment is-2">
                            {{loop.index}}. {{ dish.name }}
                            <span class="is-size-5">
                                {{ dish.flags }}
                            </span>

                        </p>
                        <p class="subtitle parisienne">{{ dish.options}}</p>
                    </div>

                {% if dish.close_column %}
                </div>
                {% endif %}

                {% if dish.close_page %}
                </div>
                </div>
                {% endif %}

                {% endfor %}
                </div>
                </div>
                </div>
                </div>
                </div>
                <nav class="pagination is-centered is-large mt-5" data-glide-el="controls" role="navigation" aria-label="pagination">
                    <a class="pagination-previous is-light" data-glide-dir="<">Previous</a>
                    <a class="pagination-next" data-glide-dir=">">Next</a>

                    <ul class="pagination-list" data-glide-el="controls[nav]">
                        <li data-glide-dir="=0">
                            <a class="pagination-link">1</a>
                        </li>
                        <li data-glide-dir="=1">
                            <a class="pagination-link">2</a>
                        </li>
                        <li data-glide-dir="=2">
                            <a class="pagination-link">3</a>
                        </li>
                    </ul>
                </nav>
                </div>
                
            </div>

        </div>
    </section>

    <script type="text/javascript" src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.js"></script>
    <script>
        new Glide('.glide').mount()
    </script>
</body>

</html>