<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Restaurant Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <!-- PhotoSwipe -->
    <link rel="stylesheet" href="https://unpkg.com/photoswipe@5.4.3/dist/photoswipe.css">
    <meta name="robots" content="noindex">

    <!-- icons -->
    <link rel="icon" sizes="any" href="icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="64x64" href="icons/android-chrome-64x64.png">
    <link rel="icon" type="image/svg+xml" href="icons/bunman_no_bg.svg">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon-180x180.png">
    <link rel="manifest" href="icons/manifest.json">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Optional Theme Stylesheet -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.theme.min.css"> -->
</head>

<body>
    
    <section class="section hero is-white has-text-centered">
        <div class="bg-image"></div>
        <div class="container top">
            <h2>
                <span class="is-1 title is-uppercase has-text-info-dark samarkan">Menu</span> 
                <span class="subtitle parchment is-1">- Home Restaurant by Ria & Antonin</span>
            </h2>
        </div>
    </section>

    <section class="section has-background-light main-section">
        <div class="container">
            <div class="is-full">
                <div class="field">
                    <label class="label">Search & Filter</label>
                    <!-- Show filters -->
                    <div class="buttons">
                        <button class="button is-medium is-info-dark">
                            <span class="icon is-small filter">
                                🇮🇳
                            </span>
                        </button>
                        <button class="button is-medium is-info-dark">
                            <span class="icon is-small filter">
                                🇫🇷
                            </span>
                        </button>
                        <button class="button is-medium is-info-dark">
                            <span class="icon is-small filter">
                                🌶️
                            </span>
                        </button>
                    </div>

                    <div class="control">
                        <input class="input is-medium search" type="text" placeholder="Ex: galette...">
                    </div>
                </div>
                <p id="n_results" data-total="{{ total_recipes }}">{{ total_recipes }} recipes</p>
            </div>

            {% for meal in meals %}
            <div class="is-mobile is-full">
                <h3 class="title mt-5 is-2 is-uppercase has-text-info-dark">{{meal.name}}</h3>
                <hr class="has-background-info">
            </div>

            {% for dish in meal.dishes %}
            {% if dish.new_page %}
            <div class="columns">
            {% endif %}

            {% if dish.new_column %}
            <div class="column {{ column_class }}">
            {% endif %}
                <div class="block" data-groups="{{ dish.tags }}">
                    <p class="title parchment is-1 mb-4">
                        {% if dish.link %}
                        <a href="{{dish.link}}" , target="_blank">
                            {{loop.index}}. {{ dish.name }}
                        </a>
                        {% else %}
                        {{loop.index}}. {{ dish.name }}
                        {% endif %}
                        <span class="is-size-5">
                            {{ dish.flags }}
                        </span>

                    </p>
                    <p class="subtitle">
                        {{ dish.options}}
                    </p>
                    <p class="additional-info" style="display: none;">
                        <!-- useful for search -->
                        {{ dish.tags }}
                        {{ dish.ingredients }}
                        
                    </p>
                    {% if dish.image %}
                    <div class="dish-image">
                        <a href="{{dish.image}}"
                            data-pswp-width="{{ dish.image_width }}"
                            data-pswp-height="{{ dish.image_height }}"
                            data-cropped="true"
                            target="_blank">
                            <figure class="image is-16by9">
                                <img style="object-fit: cover; max-height: 400px;"
                                    loading="lazy"
                                    class="dish-image" src="{{dish.image}}" alt="Dish image">
                            </figure>
                        </a>
                    </div>
                    {% endif %}
                </div>
            
            {% if dish.close_column %}
            </div> <!-- Close column -->
            {% endif %}


            {% if dish.close_page %}
            </div> <!-- Close Page Columns -->
            <!-- <hr class="has-background-dark"> -->
            {% endif %}

            {% endfor %}
            {% endfor %}

        </div>
    </section>
    <script>
        // When typing in the search bar, only show the dishes that match the search
        const search = document.querySelector('.search');
        const dishes = document.querySelectorAll('.block');

        // Use a debounce function to prevent the search from being triggered too often
        const debounce = (fn, delay = 500) => {
            let timeoutId;
            return (...args) => {
                // cancel the previous timer
                if (timeoutId) {
                    clearTimeout(timeoutId);
                }
                // setup a new timer
                timeoutId = setTimeout(() => {
                    fn.apply(null, args);
                }, delay);
            };
        };
        search.addEventListener('keyup', debounce(() => {
            const term = search.value.toLowerCase().trim();
            let n_results = 0;

            // if the search bar is empty, show all dishes
            if (!term) {
                dishes.forEach(dish => {
                    dish.style.display = 'block';
                });
                // access data-total attribute
                let n_recipes = document.querySelector('#n_results').dataset.total;
                document.querySelector('#n_results').textContent = `${n_recipes} recipes`;

                return;
            }

            dishes.forEach(dish => {
                const name = dish.textContent.toLowerCase();
                
                // Exact match
                // let match = name.includes(term)
                // Fuzzy search
                let match = fuzzyMatch(name, term)


                if (match) {
                    dish.style.display = 'block';
                } else {
                    dish.style.display = 'none';
                }
                n_results += match;
            });

            let n_results_text = n_results == 1 ? 'recipe' : 'recipes';

            document.querySelector('#n_results').textContent = `${n_results} ${n_results_text}`;

        }, 150));

        // Fuzzy search in a string
        function fuzzyMatch(string, pattern) {
            let str = string.toLowerCase();
            let i = 0;
            let n = -1;
            let l;
            let search = pattern.toLowerCase();
            for (; l = search[i++];) {
                if (!~(n = str.indexOf(l, n + 1))) {
                    return false;
                }
            }
            return true;
        }

        // When clicking on a filter, add the characters to the search bar
        const filters = document.querySelectorAll('.filter');
        filters.forEach(filter => {
            filter.addEventListener('click', () => {
                // trim extra spaces
                search.value = search.value.trim();
                search.value += filter.textContent.trim();
                search.dispatchEvent(new Event('keyup'));
            });
        });
    
    </script>
    <!-- Use image swipe to zoom in images when clicked -->
    <script src="https://unpkg.com/photoswipe@5.4.3/dist/photoswipe-lightbox.esm.min.js"></script>
    <script src="https://unpkg.com/photoswipe@5.4.3/dist/photoswipe.esm.min.js"></script>
    <script type="module">
        import Lightbox from 'https://unpkg.com/photoswipe@5.4.3/dist/photoswipe-lightbox.esm.min.js';
        const lightbox = new Lightbox({
            gallery: '.dish-image',
            children: 'a',
            pswpModule: () => import('https://unpkg.com/photoswipe@5.4.3/dist/photoswipe.esm.min.js'),
            tapAction: 'close',
        });
        lightbox.init();
    </script>
</body>

</html>